/* ------------------------------ person profile data */

.image-container{
    margin-top: 100px;
    width: 90px;
    height: 90px;
}
.image-container img {
    width: 80px;
    height: 80px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
}
.image-container::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: linear-gradient(#EA7A6A, #4103DE);
    z-index: 0;
}

.intro-container {
    gap: 5px;
}

.profile-text {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: -13px;
}

/* ------------------------------ message utility classes */

.bot-message-container {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: flex-start;
}

.main-container {
    height: calc(100vh - 15vh);
    width: 100vw;
    margin-top: 15vh;
    min-height: 0;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    /* z-index: 10; */
}

.message {
    min-width: 0px;
    padding: 10px 20px;
    border-color: #ccc;
    border-radius: 5px;
    color: #444;
    background-color: #eee;
    max-width: 70%;
}

.message-container {
    width: 50%;
    margin-left: 25%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    /* border: 1px solid black; */
}

.user-message-container {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: flex-end;
}

/* ------------------------------ chat input box */

.chat-box {
    flex-grow: 0;
    padding: 40px 10px;
}

.chat-input {
    border-radius: 5px;
    margin-left: 25%;
    width: 50%;
    height: 45px;
    padding: 10px 20px;
    border: 0;
    background: linear-gradient(270deg, #F4F4F4 0%, #F4F4F4 100%);
    box-shadow: 0px 2px 16px 8px rgba(204, 204, 204, 0.50);
    outline: none
}