.text-dgray{
    color: #94A3B8;
}
.bg-dblack{
    /* used in index page section 1 */
    background: #000006;
}
/* --------------------------------------- Hero and Navbar */
.hero{
    background-image: url("../img/clockInSpace.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    /* border:5px solid red; */
    display: flex; /* Use flex display to center its children */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text within the hero */
}
.logo-w{
    width:8%;
}

.landing-title {
    font-size: 60px;
}
.hero-text {
    font-size: 24px;
    /* margin-left: 20px; */
    text-align: center;
}

/* navbar item transitions (color + transform */
.nav-link {
    color: #94A3B8; /* Base color */
    transition: 0.5s color linear; /* Transition for color change */
}
.nav-link:hover {
    color: white;
}
.nav-item {
    transition: 0.5s box-shadow linear, 0.5s transform ease-in-out; /* Transition for box-shadow and transform */
}
.nav-item:hover {
    box-shadow: 0 5px 15px rgba(65, 3, 222, 0.5);
    transform: translateY(-10%);
}
.grayToGradient{
    background-color: #000; /* Initial black and white background */
    filter: grayscale(60%); /* Desaturate the button */
    transition: all 0.5s linear;
    cursor: pointer;
}
.grayToGradient:hover{
    background-image: linear-gradient(to right, #EA7A6A, #4103DE); /* Apply gradient background on hover */
    filter: none;
}

.navbar{
    z-index: 999;
    background:rgba(0,0,0,0);
    backdrop-filter: blur(0px);
    transition: 0.25s background ease, 0.25s backdrop-filter ease;
}
.navbar.scrolled{
    background:rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
}
.navbar-inner {
    /* make background darker */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.nb-background-color {
    background-color: #E2E8F0;
}
.nbMenuItem {
    font-size: 30px;
    color: #475569;
}
.nbIndexItem {
    font-size: 25px;
}
.gradient {
    background-image: linear-gradient(to right, #EA7A6A, #4103DE);
    background-repeat: no-repeat;
}
.btn-sizing {
    width:150px;
    height:50px;
    margin-left: auto;
}
.btn-text {
    font-size: 25px;
    text-decoration: none;
    margin-right: 0;
}
/* --------------------------------------- Inside the hero: the text and the buttons */
.w-35{
    width:35%;
}
.about-btn, .chatnow-btn{
    padding:10px 30px;
}
.about-btn{
    background:rgba(0,0,0,0);
    backdrop-filter: blur(80px);
    transition: 0.5s transform ease-in-out, 0.5s border ease-in-out;
}
.about-btn:hover{
    transform: translateY(-10%);
    border: 1.5px solid #94A3B8;
}
/* Animation/Styles for the chat-now button element */
.chatnow-btn {
    display: flex;
    border-radius: 4px;
    background-color: #3d405b;
    border: none;
    color: #FFFFFF;
    justify-content: start;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all .6s;
    cursor: pointer;
    align-items: center;
    min-width: 150px;
    margin: 5px;
    flex-wrap: nowrap;
}
.chatnow-btn a {
    cursor: pointer;
    display: inline;
    white-space: nowrap;
    position: relative;
    transition: .6s;
}
.chatnow-btn a:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    padding-left: 50px;
    transition: .6s;
}
.chatnow-btn:hover {
    min-width: 200px;
}
.chatnow-btn:hover a {
    padding-right: 25px;
}
.chatnow-btn:hover a:after {
    opacity: 1;
    right: 0;
}  
/* --------------------------------------- Index page section 1 */
